@media only screen and (min-width: 406px) and (max-width: 794px){
    .calculator{
        min-width: 52%;
    }
} 
@media only screen and (min-width:795px) and (max-width:897px){
    .calculator{
        min-width: 82%;
    }
} 
@media only screen and (min-width:898px){
    .calculator{
        min-width: 28%;
    }
} 