*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    
}
.container{
    margin-top: 3vh;
    height: inherit;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.input,.output{
    margin: 2vh 0;
}
#btn{
    width: 260px;
    height: 29px;
}
#input{
    width: 260px;
    height: 29px;
    
}