
*{
    padding: 0;margin: 0;
}
body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(45deg,rgb(33, 80, 33),rgb(97, 97, 37));
}
.container{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputT{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.inputT input{
    margin: 6px 0;
    width: 24vw;
    height: 3.5vh;
    padding: 3px 10px;
    border: 1.3px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.inputT input::placeholder{
    padding: 3px 4px;
    font-family: 'Ubuntu', sans-serif;
}
.inputT input:focus{
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calculate,.reset{
    cursor: pointer;
    height: 3.5vh;
    width: 25vw;
    margin: 6px 2px;
    border: 1.3px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(185, 136, 231);
    color: white;
}
.result{
    color: white;
    width: 90%;
    height: 19vh;
    margin: 0px 30px;
    font-family: 'Ubuntu', sans-serif;
    padding: 19px 2px; 
    margin: auto;
}
.c{
    color: white;
    height: 45vh;

}