@media screen and (max-width: 950px) and (min-width: 750px) {
    .header h1{
        font-size: 26px;
    }
    .header h4{
        font-size: 12.5px;
    }
    #desc{
        font-size: 13px;
    }
    #note{
        font-size: 15px ;
    }
    .btn a{
        font-size: 11.5px;
    }
    .navbar a{
        font-size: 14px;
    }
    .btn a{
        width: 88px;
        height: 3.5vh;
    }
    #hft {
        font-size: 10px ;
    }
    .grid1 img{
        width: 145px;
        height: 145px;
        border-radius: 50px;
    }
    #hft {
        display: none;
     }
}
@media screen and (max-width: 749px) and (min-width: 502px){
    .container{
        height: 145vh;
    }
    .projects{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .grid1 img{
        width: 150px;
        height: 150px;
        border-radius: 50px;
    }
    #desc{
        font-size: 12px;
    }
    #note{
        font-size: 14px ;
    }
    .navbar a{
        font-size: 14px;
    }
    .header h1{
        font-size: 24px;
    }
    .header h4{
        font-size: 11.5px;
    }
    #hft {
        display: none;
     }
}

@media screen and (max-width: 501px){
    .container{
        height: 185vh;
    }
    .projects{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .grid1 img{
        width: 138px;
        height: 138px;
        border-radius: 50px;
    }
    #desc{
        font-size: 12px;
    }
    #note{
        font-size: 14px ;
    }
    .navbar a{
        font-size: 12px;
    }
    .header h1{
        font-size: 21px;
    }
    .header h4{
        font-size: 10.5px;
    }
    #hft {
       display: none;
    }
    .btn a{
        font-size: 12px;height: 4.5vh;
    }
    .btn{
        width: 85%;
        height: 8vh;
    }
    .grid1{
        margin: 0.1vh 0;
    }
    .header{
        margin: 3.5vh 0;
    }
}