.grid1{
    margin: auto;
}
@media screen and (max-width:459px){
    .grid1{
        margin: auto;
        width: 290px;
        height: 199px;
        font-size: 29px;
    }
    .mytemp{
        width:80%;
    }
   
}
@media screen and (max-width:861px){
    .userColorBlack{
        margin-top: -9vh;
    }
}
@media screen and (max-width:1118px){
    .cm{
        width: 98%;
        height: fit-content;
        background-color: rgb(33, 37, 87);
        color: white;
        padding: 5.5vh 3vw;
        border: 2px solid white;
        border-radius: 20px;
        position: absolute;
        bottom: -45px;
    }
}
